.form-wrapper{
    text-align:  center;
  }

  .table-wrap{
    text-align: center;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin-left: 182px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .list-header {
    display: flex;
    justify-content: space-around;
}

.add-btn {
  margin-top: 25px;
}
.add-btn button {
  background: blue;
  color: #ffff;
  border-radius: 4px;
  width: 90px;
  height: 36px;
}
.edit-btn button {
  background: blue;
  color: #ffff;
  border-radius: 4px;
  width: 90px;
  height: 36px;
}
.delete-btn button {
  background: rgb(0, 255, 98);
  color: #ffff;
  border-radius: 4px;
  width: 90px;
  height: 36px;
}

